body {
	background-color: grey;
}
li {
	list-style-type: none;
	display: inline;
}
ul {
	
}
#column1, #column2, #column3 {
	float: left;
	width: 200px;
}
#wrapper {
	width: 800px;
	margin: 0 auto;
}
a {
	text-decoration: none;
}